---
import { SITE, DEFAULT_URL } from "../config";
const navItems = [
{
		title: 'react.dev',
		description: 'https://react.dev/learn/',
		url: `${DEFAULT_URL}/react/introduction`,
		img: `p2cn2c/assets/image/Core.jpg`
	},
	{
		title: 'Core',
		description: 'Base colors, typography, shadows, and more.',
		url: `${DEFAULT_URL}/core/introduction`,
		img: `p2cn2c/assets/image/Core.jpg`
	},
	{
		title: 'Components',
		description: 'The building blocks for our UI.',
		url: `${DEFAULT_URL}/components/buttons`,
		img: `p2cn2c/assets/image/Components.jpg`
	},
	{
		title: 'Patterns',
		description: 'Common patterns for building interfaces.',
		url: `${DEFAULT_URL}/patterns/introduction`,
		img: `p2cn2c/assets/image/Patterns.jpg`
	}
]

---

<head>
	<link rel="stylesheet" href="/styles/main.css" />
	<!-- External -->
</head>

<div class="bg-slate-100 min-h-screen text-center">
	<header class="pt-12 pb-24 px-4 bg-gradient-to-br from-slate-700 to-black">
		<div class="flex items-center justify-center p-4">
			<img src="p2cn2c/assets/image/astro-design-system-logo.svg" alt="Astro Design System Logo">
		</div>
		<h1 class=" text-white text-4xl font-medium drop-shadow-sm">{SITE.title}</h1>
		<p class="text-lg mt-4 text-slate-300">{SITE.description}</p>
	</header>
	<nav>
		<ul class="flex gap-4 max-w-5xl mx-auto text-left mt-12">
		{
			navItems.map(({ title, description, url, img }) => (
				<a href={url} class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4">
					<img src={img} alt={title}>
					<h2 class="text-lg font-medium">{title}</h2>
					<p class="text-slate-500">{description}</p>
				</a>
			))
		}
		</ul>
	</nav>
</div>

<script is:inline>
</script>
